mat-divider
{
    max-width: 88%;
    border-width: 2px;
}
.favorites{
    position:absolute;
    right:15%;
     top:5%;
     
}

.GoToPage
{
    bottom:1%;
    position:absolute;
    right: 15%;
   
}
