mat-divider
{
    padding: 1%;
    max-width: 85%;
    border-width: 5px;
}
.favorites{
    position:absolute;
    right:15%;
     top:5%;

}

.GoToPage
{
    bottom:1%;
    position:absolute;
    right: 15%;

}