<div *ngFor="let job of jobListings">
    <mat-list class="lists">
        <mat-list-item>
          <span matListItemTitle>{{job.title}}</span>
          <span matListItemLine>{{job.description}}</span>
          <span matListItemLine>Location: {{job.location}}</span> 
          <button mat-flat-button color="accent" class="favorites">
          <mat-icon>favorites</mat-icon>
          </button>
        <button mat-flat-button color="primary" class="GoToPage">
          For More
          <mat-icon>arrow_forward</mat-icon>
      </button>
        </mat-list-item>
  
      </mat-list>
  
  <mat-divider></mat-divider>
</div>

