.content-body{
    min-height: 100%;
    padding: 60px 1rem;
    background: #16bca8;
    display: block;
}

.top-selections {
    display: flex;
width: 100%;
align-items: center;
justify-content: center;
gap: 23px;
font-size: 24px;
}