mat-card{
    max-width: 600px;
    max-height: 1000px;
    margin: 2em auto;
    text-align: center;
    border-radius: 8%;
   
}

.header{
    text-align: center;
}

.full-width{
    width: 80%;
}

.email-input{
    padding-top: 10px;
}

.aLink{
    float:right;
    padding-right: 60px;
    text-align: center;
}

.ButtonX{
    position :relative;
   top:2px;
    left:45%;
    padding:3px;
    border-radius: 15%;
}
.Sign
{
    padding :4px;
    border-radius: 10%;
}

img
{

   width: 20%;
   height:20%;
}