<mat-card>
    <mat-card-content>
      <div class="signupheader">
        <h1>Sign Up</h1>
      </div>
      <form (ngSubmit)="onSignup()" name="signupForm" [formGroup]="signupForm">
        <div class="emailInput">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              matInput
              placeholder="Enter email address" required
            />
            <mat-error *ngIf="!signupForm.controls['email'].valid">
                Email is required
              </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
                <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
                <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="hide">
                    <mat-icon>
                        {{hide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </button>

                <mat-error *ngIf="!signupForm.controls['password']?.valid">
                    Password is required
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName= "name" matInput placeholder="Enter your Name" required/>

                <mat-error *ngIf="!signupForm.controls['name']?.valid">
                    Name area can not be empty.
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Surname</mat-label>
                <input formControlName= "surname" matInput placeholder="Enter your Surname" required/>

                <mat-error *ngIf="!signupForm.controls['surname']?.valid">
                    Surname area can not be empty.
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input formControlName= "phonenumber" matInput placeholder="Enter your Phone Number" required/>

                <mat-error *ngIf="!signupForm.controls['PhoneNumber']?.valid">
                    Phone Number can not be empty.
                </mat-error>
            </mat-form-field>
        </div>

      </form>
        <button mat-flat-button color="primary">Sign</button>
       <!----> <button mat-flat-button color="primary" (click)="asdf()">adsfadsfsgfd</button>

      <div>
        <span>
            <a class="text-link" class="aLink" routerLink="/auth/forgot-password">Create Account</a>
        </span>
      </div>
    </mat-card-content>
  </mat-card>
